<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <h1 class="fw-bold display-4 mb-4"><%= t('text.Editing Admin') %></h1>

      <%= render "form", admin_user: @admin_user %>
    </div>
  </div>
</div>
